/*******************************************************************************/
/****** Creates Call Mode Table                                           ******/
/****** Author: Tomislav Miksa                                            ******/
/****** v1.00: CREATE                                                     ******/
/*******************************************************************************/
DECLARE @operator1view as varchar(max) = '  CREATE VIEW [dbo].[vVoiceCDR2018_Operator1] 
											AS
											SELECT  CASE WHEN Campaign_A is not null THEN Campaign_A
															ELSE Campaign_B
															END AS [Campaign]
													,[Operator]
													,[Session_Type]
													,callDir													AS [Call_Direction]
													,[Call_Status]
													,ASideFileName												AS [File_Name_A]
													,ASideFileName												AS [File_Name_B]
													,[FileID_A]
													,[FileId_B]
													,[Sequenz_ID_per_File_A]
													,[SessionID_A]
													,[SessionId_B]
													,[Channel_A]
													,[Channel_Description_A]
													,[Channel_B]
													,[Channel_Description_B]
													,[G_Level_1_A]												AS [G_Level_1]
													,[G_Level_2_A]												AS [G_Level_2]
													,[G_Level_3_A]												AS [G_Level_3]
													,[G_Level_4_A]												AS [G_Level_4]
													,[G_Level_5_A]												AS [G_Level_5]
													,datepart(year,[MO:Dial])									AS [Year]
													,datepart(iso_week,[MO:Dial])									AS [Week]
													,datepart(month,[MO:Dial])									AS [Month]
													,datepart(day,[MO:Dial])									AS [Day]
													,datepart(hour,[MO:Dial])									AS [Hour]
													,dbo.DelphiDateTime([MO:Dial])								AS [Call_Start_Time]
													,dbo.DelphiDateTime(Call_End_Trigger)						AS [Call_End_Time]
													,startLongitude_A											AS [Call_Start_Longitude_A]
													,startLatitude_A												AS [Call_Start_Latitude_A]
													,endLongitude_A												AS [Call_End_Longitude_A]
													,endLatitude_A												AS [Call_End_Latitude_A]
													,startLongitude_B											AS [Call_Start_Longitude_B]
													,startLatitude_B												AS [Call_Start_Latitude_B]
													,endLongitude_B												AS [Call_End_Longitude_B]
													,endLatitude_B												AS [Call_End_Latitude_B]
													,[Failure_Phase]
													,[Failure_Side]
													,[Failure_Technology]
													,[Failure_Class]
													,[Failure_Category]
													,[Failure_Subcategory]
													,[Comment]													AS [Failure_Comment]
													,VoLTE_to_VoLTE_Call_Mode
													,VoLTE_to_VoLTE_Call_Mode_Call_End
													,Call_Mode_L1_A												AS [L1_callMode_A]
													,Call_Mode_L2_A												AS [L2_callMode_A]
													,Call_Mode_L1_B												AS [L1_callMode_B]
													,Call_Mode_L2_B												AS [L2_callMode_B]
													,[CallSetupTime(MO:Dial->MO:ConnectAck)]						AS [CST(Dial->ConnAck)]
													,[CallSetupTime(MO:Dial->MO:Alerting)]						AS [CST(Dial->Alerting)]
													,[CallSetupTime(MT:Alerting->MT:Connect)]					AS [CST(SQ Delay)]
													,[Dialed_Number]												AS [DialedNumber]
													,dbo.DelphiDateTime([MO:Dial])								AS [Dial_Timestamp]
													,dbo.DelphiDateTime([MO:CSFB-ExtendedServiceRequest])		AS [MO-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MO:CmServiceRequest])					AS [MO-CMServiceRequest]
													,dbo.DelphiDateTime([MO:SipInvite/CC:Setup])					AS [MO-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MO:SipTrying/CC:CallProceeding])		AS [MO-CC:CallProceeding/SIP:Trying]
													,dbo.DelphiDateTime([MO:SipRinging/CC:Alerting])				AS [MO-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MO:Sip200Ok/CC:Connect])				AS [MO-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MO:SipAck/CC:ConnectAck])				AS [MO-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MO-CC:Disconnect/SIPBye])				AS [MO-CC:Disconnect/SIPBye]
													,dbo.DelphiDateTime([MT:CSFB-ExtendedServiceRequest])		AS [MT-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MT:SipInvite/CC:Setup])					AS [MT-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MT:SipTrying/CC:CallProceeding])		AS [MT-CC:CallConfirmed/SIP:Trying]
													,dbo.DelphiDateTime([MT:SipRinging/CC:Alerting])				AS [MT-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MT:Sip200Ok/CC:Connect])				AS [MT-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MT:SipAck/CC:ConnectAck])				AS [MT-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MT-CC:Disconnect/SIPBye])				AS [MT-CC:Disconnect/SIPBye]
													,SipByeCancel_Reason_A										AS [A:Sip:Bye:Reason]
													,SipByeCancel_Reason_B										AS [B:Sip:Bye:Reason]
													,callDuaration_A												AS [Call_Duration]
													,[POLQA_LQ_MIN]
													,[POLQA_LQ_AVG]
													,[POLQA_LQ_MEAN] AS [POLQA_LQ_MEDIAN]
													,[POLQA_LQ_MAX]
													,[RAT_A]
													,[RAT_Timeline_A]
													,[RAT_B]
													,[RAT_Timeline_B]
													,[IMEI_A]
													,[IMSI_A]
													,[MSISDN_A]
													,[IMEI_B]
													,[IMSI_B]
													,[MSISDN_B]
													,[UE_A]
													,[FW_A]
													,[UE_B]
													,[FW_B]
													,System_Name_A												AS [System_A]
													,SW_A														AS [System_Software_A]
													,System_Name_B												AS [System_B]
													,SW_B														AS [System_Software_B]
													,[HomeOperator_A]											AS [Home_Operator_A]
													,[HomeMCC_A]													AS [Home_MCC_A]	
													,[HomeMNC_A]													AS [Home_MNC_A]	
													,[HomeOperator_B]											AS [Home_Operator_B]
													,[HomeMCC_B]													AS [Home_MCC_B]	
													,[HomeMNC_B]													AS [Home_MNC_B]
													,[A_MCC]														AS [MCC_A]
													,[A_MNC]														AS [MNC_A]
													,[A_LAC_CId_BCCH]											AS [LAC,CId,BCCH_A]
													,[A_BCCH]													AS [E/U/ARFCN_A]
													,[A_LAC]														AS [LAC_A]
													,[A_CellID]													AS [CellID_A]
													,[A_BSIC]													AS [BSIC_A]
													,[A_SC1]														AS [SC1_A]
													,[A_SC2]														AS [SC2_A]
													,[A_SC3]														AS [SC3_A]
													,[A_SC4]														AS [SC4_A]
													,[A_PCI]														AS [PCI_A]
													,[A_MinRxLev]												AS [MinRxLev_A]
													,[A_AvgRxLev]												AS [AvgRxLev_A]
													,[A_MaxRxLev]												AS [MaxRxLev_A]
													,[A_MinRxQual]												AS [MinRxQual_A]
													,[A_AvgRxQual]												AS [AvgRxQual_A]
													,[A_MaxRxQual]												AS [MaxRxQual_A]
													,[A_MinRSCP]													AS [MinRSCP_A]
													,[A_AvgRSCP]													AS [AvgRSCP_A]
													,[A_MaxRSCP]													AS [MaxRSCP_A]
													,[A_minEcIo]													AS [minEcIo_A]
													,[A_AvgEcIo]													AS [AvgEcIo_A]
													,[A_maxEcIo]													AS [maxEcIo_A]
													,[A_MinTxPwr3G]												AS [MinTxPwr3G_A]
													,[A_AvgTxPwr3G]												AS [AvgTxPwr3G_A]
													,[A_MaxTxPwr3G]												AS [MaxTxPwr3G_A]
													,[A_MinRSRP]													AS [MinRSRP_A]
													,[A_AvgRSRP]													AS [AvgRSRP_A]
													,[A_MaxRSRP]													AS [MaxRSRP_A]
													,[A_MinRSRQ]													AS [MinRSRQ_A]
													,[A_AvgRSRQ]													AS [AvgRSRQ_A]
													,[A_MaxRSRQ]													AS [MaxRSRQ_A]
													,[A_MinSINR0]												AS [MinSINR0_A]
													,[A_AvgSINR0]												AS [SINR0_A]
													,[A_MaxSINR0]												AS [MaxSINR0_A]
													,[A_MinSINR1]												AS [MinSINR1_A]
													,[A_AvgSINR1]												AS [SINR1_A]
													,[A_MaxSINR1]												AS [MaxSINR1_A]
													,[A_MinTxPwr4G]												AS [MinTxPwr4G_A]
													,[A_AvgTxPwr4G]												AS [AvgTxPwr4G_A]
													,[A_MaxTxPwr4G]												AS [MaxTxPwr4G_A]
													,[A_HandoversInfo]											AS [HandoversInfo_A]
													,[A_RRCState]												AS [RRCState_A]
													,[B_MCC]														AS [MCC_B]
													,[B_MNC]														AS [MNC_B]
													,[B_LAC_CId_BCCH]											AS [LAC,CId,BCCH_B]
													,[B_BCCH]													AS [E/U/ARFCN_B]
													,[B_LAC]														AS [LAC_B]
													,[B_CellID]													AS [CellID_B]
													,[B_BSIC]													AS [BSIC_B]
													,[B_SC1]														AS [SC1_B]
													,[B_SC2]														AS [SC2_B]
													,[B_SC3]														AS [SC3_B]
													,[B_SC4]														AS [SC4_B]
													,[B_PCI]														AS [PCI_B]
													,[B_MinRxLev]												AS [MinRxLev_B]
													,[B_AvgRxLev]												AS [AvgRxLev_B]
													,[B_MaxRxLev]												AS [MaxRxLev_B]
													,[B_MinRxQual]												AS [MinRxQual_B]
													,[B_AvgRxQual]												AS [AvgRxQual_B]
													,[B_MaxRxQual]												AS [MaxRxQual_B]
													,[B_MinRSCP]													AS [MinRSCP_B]
													,[B_AvgRSCP]													AS [AvgRSCP_B]
													,[B_MaxRSCP]													AS [MaxRSCP_B]
													,[B_minEcIo]													AS [minEcIo_B]
													,[B_AvgEcIo]													AS [AvgEcIo_B]
													,[B_maxEcIo]													AS [maxEcIo_B]
													,[B_MinTxPwr3G]												AS [MinTxPwr3G_B]
													,[B_AvgTxPwr3G]												AS [AvgTxPwr3G_B]
													,[B_MaxTxPwr3G]												AS [MaxTxPwr3G_B]
													,[B_MinRSRP]													AS [MinRSRP_B]
													,[B_AvgRSRP]													AS [AvgRSRP_B]
													,[B_MaxRSRP]													AS [MaxRSRP_B]
													,[B_MinRSRQ]													AS [MinRSRQ_B]
													,[B_AvgRSRQ]													AS [AvgRSRQ_B]
													,[B_MaxRSRQ]													AS [MaxRSRQ_B]
													,[B_MinSINR0]												AS [MinSINR0_B]
													,[B_AvgSINR0]												AS [SINR0_B]
													,[B_MaxSINR0]												AS [MaxSINR0_B]
													,[B_MinSINR1]												AS [MinSINR1_B]
													,[B_AvgSINR1]												AS [SINR1_B]
													,[B_MaxSINR1]												AS [MaxSINR1_B]
													,[B_MinTxPwr4G]												AS [MinTxPwr4G_B]
													,[B_AvgTxPwr4G]												AS [AvgTxPwr4G_B]
													,[B_MaxTxPwr4G]												AS [MaxTxPwr4G_B]
													,[B_HandoversInfo]											AS [HandoversInfo_B]
													,[B_RRCState]												AS [RRCState_B]
													,[TrainType_A]												AS [TrainType]		
													,[TrainName_A]												AS [Fleet]			
													,[WagonNumber_A]												AS [WagonNumber]	
													,[Region_A]													AS [Region]		
													,[Vendor_A]													AS [Vendor]		
													,[WagonRepeter_A]											AS [WagonRepeter]
													,ASideFileNamePCAP											AS PCAP_File_Name_A
													,BSideFileNamePCAP											AS PCAP_File_Name_B
													,JOIN_ID
												FROM [NEW_CDR_VOICE_2018]
												WHERE [Operator] like (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 1) and [Validity] = 1 '

DECLARE @operator2view as varchar(max) = '  CREATE VIEW [dbo].[vVoiceCDR2018_Operator2] 
											AS
											SELECT  CASE WHEN Campaign_A is not null THEN Campaign_A
															ELSE Campaign_B
															END AS [Campaign]
													,[Operator]
													,[Session_Type]
													,callDir													AS [Call_Direction]
													,[Call_Status]
													,ASideFileName												AS [File_Name_A]
													,ASideFileName												AS [File_Name_B]
													,[FileID_A]
													,[FileId_B]
													,[Sequenz_ID_per_File_A]
													,[SessionID_A]
													,[SessionId_B]
													,[Channel_A]
													,[Channel_Description_A]
													,[Channel_B]
													,[Channel_Description_B]
													,[G_Level_1_A]												AS [G_Level_1]
													,[G_Level_2_A]												AS [G_Level_2]
													,[G_Level_3_A]												AS [G_Level_3]
													,[G_Level_4_A]												AS [G_Level_4]
													,[G_Level_5_A]												AS [G_Level_5]
													,datepart(year,[MO:Dial])									AS [Year]
													,datepart(iso_week,[MO:Dial])									AS [Week]
													,datepart(month,[MO:Dial])									AS [Month]
													,datepart(day,[MO:Dial])									AS [Day]
													,datepart(hour,[MO:Dial])									AS [Hour]
													,dbo.DelphiDateTime([MO:Dial])								AS [Call_Start_Time]
													,dbo.DelphiDateTime(Call_End_Trigger)						AS [Call_End_Time]
													,startLongitude_A											AS [Call_Start_Longitude_A]
													,startLatitude_A												AS [Call_Start_Latitude_A]
													,endLongitude_A												AS [Call_End_Longitude_A]
													,endLatitude_A												AS [Call_End_Latitude_A]
													,startLongitude_B											AS [Call_Start_Longitude_B]
													,startLatitude_B												AS [Call_Start_Latitude_B]
													,endLongitude_B												AS [Call_End_Longitude_B]
													,endLatitude_B												AS [Call_End_Latitude_B]
													,[Failure_Phase]
													,[Failure_Side]
													,[Failure_Technology]
													,[Failure_Class]
													,[Failure_Category]
													,[Failure_Subcategory]
													,[Comment]													AS [Failure_Comment]
													,VoLTE_to_VoLTE_Call_Mode
													,VoLTE_to_VoLTE_Call_Mode_Call_End
													,Call_Mode_L1_A												AS [L1_callMode_A]
													,Call_Mode_L2_A												AS [L2_callMode_A]
													,Call_Mode_L1_B												AS [L1_callMode_B]
													,Call_Mode_L2_B												AS [L2_callMode_B]
													,[CallSetupTime(MO:Dial->MO:ConnectAck)]						AS [CST(Dial->ConnAck)]
													,[CallSetupTime(MO:Dial->MO:Alerting)]						AS [CST(Dial->Alerting)]
													,[CallSetupTime(MT:Alerting->MT:Connect)]					AS [CST(SQ Delay)]
													,[Dialed_Number]												AS [DialedNumber]
													,dbo.DelphiDateTime([MO:Dial])								AS [Dial_Timestamp]
													,dbo.DelphiDateTime([MO:CSFB-ExtendedServiceRequest])		AS [MO-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MO:CmServiceRequest])					AS [MO-CMServiceRequest]
													,dbo.DelphiDateTime([MO:SipInvite/CC:Setup])					AS [MO-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MO:SipTrying/CC:CallProceeding])		AS [MO-CC:CallProceeding/SIP:Trying]
													,dbo.DelphiDateTime([MO:SipRinging/CC:Alerting])				AS [MO-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MO:Sip200Ok/CC:Connect])				AS [MO-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MO:SipAck/CC:ConnectAck])				AS [MO-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MO-CC:Disconnect/SIPBye])				AS [MO-CC:Disconnect/SIPBye]
													,dbo.DelphiDateTime([MT:CSFB-ExtendedServiceRequest])		AS [MT-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MT:SipInvite/CC:Setup])					AS [MT-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MT:SipTrying/CC:CallProceeding])		AS [MT-CC:CallConfirmed/SIP:Trying]
													,dbo.DelphiDateTime([MT:SipRinging/CC:Alerting])				AS [MT-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MT:Sip200Ok/CC:Connect])				AS [MT-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MT:SipAck/CC:ConnectAck])				AS [MT-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MT-CC:Disconnect/SIPBye])				AS [MT-CC:Disconnect/SIPBye]
													,SipByeCancel_Reason_A										AS [A:Sip:Bye:Reason]
													,SipByeCancel_Reason_B										AS [B:Sip:Bye:Reason]
													,callDuaration_A												AS [Call_Duration]
													,[POLQA_LQ_MIN]
													,[POLQA_LQ_AVG]
													,[POLQA_LQ_MEAN] AS [POLQA_LQ_MEDIAN]
													,[POLQA_LQ_MAX]
													,[RAT_A]
													,[RAT_Timeline_A]
													,[RAT_B]
													,[RAT_Timeline_B]
													,[IMEI_A]
													,[IMSI_A]
													,[MSISDN_A]
													,[IMEI_B]
													,[IMSI_B]
													,[MSISDN_B]
													,[UE_A]
													,[FW_A]
													,[UE_B]
													,[FW_B]
													,System_Name_A												AS [System_A]
													,SW_A														AS [System_Software_A]
													,System_Name_B												AS [System_B]
													,SW_B														AS [System_Software_B]
													,[HomeOperator_A]											AS [Home_Operator_A]
													,[HomeMCC_A]													AS [Home_MCC_A]	
													,[HomeMNC_A]													AS [Home_MNC_A]	
													,[HomeOperator_B]											AS [Home_Operator_B]
													,[HomeMCC_B]													AS [Home_MCC_B]	
													,[HomeMNC_B]													AS [Home_MNC_B]
													,[A_MCC]														AS [MCC_A]
													,[A_MNC]														AS [MNC_A]
													,[A_LAC_CId_BCCH]											AS [LAC,CId,BCCH_A]
													,[A_BCCH]													AS [E/U/ARFCN_A]
													,[A_LAC]														AS [LAC_A]
													,[A_CellID]													AS [CellID_A]
													,[A_BSIC]													AS [BSIC_A]
													,[A_SC1]														AS [SC1_A]
													,[A_SC2]														AS [SC2_A]
													,[A_SC3]														AS [SC3_A]
													,[A_SC4]														AS [SC4_A]
													,[A_PCI]														AS [PCI_A]
													,[A_MinRxLev]												AS [MinRxLev_A]
													,[A_AvgRxLev]												AS [AvgRxLev_A]
													,[A_MaxRxLev]												AS [MaxRxLev_A]
													,[A_MinRxQual]												AS [MinRxQual_A]
													,[A_AvgRxQual]												AS [AvgRxQual_A]
													,[A_MaxRxQual]												AS [MaxRxQual_A]
													,[A_MinRSCP]													AS [MinRSCP_A]
													,[A_AvgRSCP]													AS [AvgRSCP_A]
													,[A_MaxRSCP]													AS [MaxRSCP_A]
													,[A_minEcIo]													AS [minEcIo_A]
													,[A_AvgEcIo]													AS [AvgEcIo_A]
													,[A_maxEcIo]													AS [maxEcIo_A]
													,[A_MinTxPwr3G]												AS [MinTxPwr3G_A]
													,[A_AvgTxPwr3G]												AS [AvgTxPwr3G_A]
													,[A_MaxTxPwr3G]												AS [MaxTxPwr3G_A]
													,[A_MinRSRP]													AS [MinRSRP_A]
													,[A_AvgRSRP]													AS [AvgRSRP_A]
													,[A_MaxRSRP]													AS [MaxRSRP_A]
													,[A_MinRSRQ]													AS [MinRSRQ_A]
													,[A_AvgRSRQ]													AS [AvgRSRQ_A]
													,[A_MaxRSRQ]													AS [MaxRSRQ_A]
													,[A_MinSINR0]												AS [MinSINR0_A]
													,[A_AvgSINR0]												AS [SINR0_A]
													,[A_MaxSINR0]												AS [MaxSINR0_A]
													,[A_MinSINR1]												AS [MinSINR1_A]
													,[A_AvgSINR1]												AS [SINR1_A]
													,[A_MaxSINR1]												AS [MaxSINR1_A]
													,[A_MinTxPwr4G]												AS [MinTxPwr4G_A]
													,[A_AvgTxPwr4G]												AS [AvgTxPwr4G_A]
													,[A_MaxTxPwr4G]												AS [MaxTxPwr4G_A]
													,[A_HandoversInfo]											AS [HandoversInfo_A]
													,[A_RRCState]												AS [RRCState_A]
													,[B_MCC]														AS [MCC_B]
													,[B_MNC]														AS [MNC_B]
													,[B_LAC_CId_BCCH]											AS [LAC,CId,BCCH_B]
													,[B_BCCH]													AS [E/U/ARFCN_B]
													,[B_LAC]														AS [LAC_B]
													,[B_CellID]													AS [CellID_B]
													,[B_BSIC]													AS [BSIC_B]
													,[B_SC1]														AS [SC1_B]
													,[B_SC2]														AS [SC2_B]
													,[B_SC3]														AS [SC3_B]
													,[B_SC4]														AS [SC4_B]
													,[B_PCI]														AS [PCI_B]
													,[B_MinRxLev]												AS [MinRxLev_B]
													,[B_AvgRxLev]												AS [AvgRxLev_B]
													,[B_MaxRxLev]												AS [MaxRxLev_B]
													,[B_MinRxQual]												AS [MinRxQual_B]
													,[B_AvgRxQual]												AS [AvgRxQual_B]
													,[B_MaxRxQual]												AS [MaxRxQual_B]
													,[B_MinRSCP]													AS [MinRSCP_B]
													,[B_AvgRSCP]													AS [AvgRSCP_B]
													,[B_MaxRSCP]													AS [MaxRSCP_B]
													,[B_minEcIo]													AS [minEcIo_B]
													,[B_AvgEcIo]													AS [AvgEcIo_B]
													,[B_maxEcIo]													AS [maxEcIo_B]
													,[B_MinTxPwr3G]												AS [MinTxPwr3G_B]
													,[B_AvgTxPwr3G]												AS [AvgTxPwr3G_B]
													,[B_MaxTxPwr3G]												AS [MaxTxPwr3G_B]
													,[B_MinRSRP]													AS [MinRSRP_B]
													,[B_AvgRSRP]													AS [AvgRSRP_B]
													,[B_MaxRSRP]													AS [MaxRSRP_B]
													,[B_MinRSRQ]													AS [MinRSRQ_B]
													,[B_AvgRSRQ]													AS [AvgRSRQ_B]
													,[B_MaxRSRQ]													AS [MaxRSRQ_B]
													,[B_MinSINR0]												AS [MinSINR0_B]
													,[B_AvgSINR0]												AS [SINR0_B]
													,[B_MaxSINR0]												AS [MaxSINR0_B]
													,[B_MinSINR1]												AS [MinSINR1_B]
													,[B_AvgSINR1]												AS [SINR1_B]
													,[B_MaxSINR1]												AS [MaxSINR1_B]
													,[B_MinTxPwr4G]												AS [MinTxPwr4G_B]
													,[B_AvgTxPwr4G]												AS [AvgTxPwr4G_B]
													,[B_MaxTxPwr4G]												AS [MaxTxPwr4G_B]
													,[B_HandoversInfo]											AS [HandoversInfo_B]
													,[B_RRCState]												AS [RRCState_B]
													,[TrainType_A]												AS [TrainType]		
													,[TrainName_A]												AS [Fleet]			
													,[WagonNumber_A]												AS [WagonNumber]	
													,[Region_A]													AS [Region]		
													,[Vendor_A]													AS [Vendor]		
													,[WagonRepeter_A]											AS [WagonRepeter]
													,ASideFileNamePCAP											AS PCAP_File_Name_A
													,BSideFileNamePCAP											AS PCAP_File_Name_B
													,JOIN_ID
													,A_VDF_CELL_NAME
													,B_VDF_CELL_NAME
												FROM [NEW_CDR_VOICE_2018]
													  WHERE [Operator] like (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 2) and [Validity] = 1 '

DECLARE @operator3view as varchar(max) = '  CREATE VIEW [dbo].[vVoiceCDR2018_Operator3] 
											AS
											SELECT  CASE WHEN Campaign_A is not null THEN Campaign_A
															ELSE Campaign_B
															END AS [Campaign]
													,[Operator]
													,[Session_Type]
													,callDir													AS [Call_Direction]
													,[Call_Status]
													,ASideFileName												AS [File_Name_A]
													,ASideFileName												AS [File_Name_B]
													,[FileID_A]
													,[FileId_B]
													,[Sequenz_ID_per_File_A]
													,[SessionID_A]
													,[SessionId_B]
													,[Channel_A]
													,[Channel_Description_A]
													,[Channel_B]
													,[Channel_Description_B]
													,[G_Level_1_A]												AS [G_Level_1]
													,[G_Level_2_A]												AS [G_Level_2]
													,[G_Level_3_A]												AS [G_Level_3]
													,[G_Level_4_A]												AS [G_Level_4]
													,[G_Level_5_A]												AS [G_Level_5]
													,datepart(year,[MO:Dial])									AS [Year]
													,datepart(iso_week,[MO:Dial])									AS [Week]
													,datepart(month,[MO:Dial])									AS [Month]
													,datepart(day,[MO:Dial])									AS [Day]
													,datepart(hour,[MO:Dial])									AS [Hour]
													,dbo.DelphiDateTime([MO:Dial])								AS [Call_Start_Time]
													,dbo.DelphiDateTime(Call_End_Trigger)						AS [Call_End_Time]
													,startLongitude_A											AS [Call_Start_Longitude_A]
													,startLatitude_A												AS [Call_Start_Latitude_A]
													,endLongitude_A												AS [Call_End_Longitude_A]
													,endLatitude_A												AS [Call_End_Latitude_A]
													,startLongitude_B											AS [Call_Start_Longitude_B]
													,startLatitude_B												AS [Call_Start_Latitude_B]
													,endLongitude_B												AS [Call_End_Longitude_B]
													,endLatitude_B												AS [Call_End_Latitude_B]
													,[Failure_Phase]
													,[Failure_Side]
													,[Failure_Technology]
													,[Failure_Class]
													,[Failure_Category]
													,[Failure_Subcategory]
													,[Comment]													AS [Failure_Comment]
													,VoLTE_to_VoLTE_Call_Mode
													,VoLTE_to_VoLTE_Call_Mode_Call_End
													,Call_Mode_L1_A												AS [L1_callMode_A]
													,Call_Mode_L2_A												AS [L2_callMode_A]
													,Call_Mode_L1_B												AS [L1_callMode_B]
													,Call_Mode_L2_B												AS [L2_callMode_B]
													,[CallSetupTime(MO:Dial->MO:ConnectAck)]						AS [CST(Dial->ConnAck)]
													,[CallSetupTime(MO:Dial->MO:Alerting)]						AS [CST(Dial->Alerting)]
													,[CallSetupTime(MT:Alerting->MT:Connect)]					AS [CST(SQ Delay)]
													,[Dialed_Number]												AS [DialedNumber]
													,dbo.DelphiDateTime([MO:Dial])								AS [Dial_Timestamp]
													,dbo.DelphiDateTime([MO:CSFB-ExtendedServiceRequest])		AS [MO-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MO:CmServiceRequest])					AS [MO-CMServiceRequest]
													,dbo.DelphiDateTime([MO:SipInvite/CC:Setup])					AS [MO-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MO:SipTrying/CC:CallProceeding])		AS [MO-CC:CallProceeding/SIP:Trying]
													,dbo.DelphiDateTime([MO:SipRinging/CC:Alerting])				AS [MO-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MO:Sip200Ok/CC:Connect])				AS [MO-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MO:SipAck/CC:ConnectAck])				AS [MO-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MO-CC:Disconnect/SIPBye])				AS [MO-CC:Disconnect/SIPBye]
													,dbo.DelphiDateTime([MT:CSFB-ExtendedServiceRequest])		AS [MT-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MT:SipInvite/CC:Setup])					AS [MT-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MT:SipTrying/CC:CallProceeding])		AS [MT-CC:CallConfirmed/SIP:Trying]
													,dbo.DelphiDateTime([MT:SipRinging/CC:Alerting])				AS [MT-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MT:Sip200Ok/CC:Connect])				AS [MT-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MT:SipAck/CC:ConnectAck])				AS [MT-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MT-CC:Disconnect/SIPBye])				AS [MT-CC:Disconnect/SIPBye]
													,SipByeCancel_Reason_A										AS [A:Sip:Bye:Reason]
													,SipByeCancel_Reason_B										AS [B:Sip:Bye:Reason]
													,callDuaration_A												AS [Call_Duration]
													,[POLQA_LQ_MIN]
													,[POLQA_LQ_AVG]
													,[POLQA_LQ_MEAN] AS [POLQA_LQ_MEDIAN]
													,[POLQA_LQ_MAX]
													,[RAT_A]
													,[RAT_Timeline_A]
													,[RAT_B]
													,[RAT_Timeline_B]
													,[IMEI_A]
													,[IMSI_A]
													,[MSISDN_A]
													,[IMEI_B]
													,[IMSI_B]
													,[MSISDN_B]
													,[UE_A]
													,[FW_A]
													,[UE_B]
													,[FW_B]
													,System_Name_A												AS [System_A]
													,SW_A														AS [System_Software_A]
													,System_Name_B												AS [System_B]
													,SW_B														AS [System_Software_B]
													,[HomeOperator_A]											AS [Home_Operator_A]
													,[HomeMCC_A]													AS [Home_MCC_A]	
													,[HomeMNC_A]													AS [Home_MNC_A]	
													,[HomeOperator_B]											AS [Home_Operator_B]
													,[HomeMCC_B]													AS [Home_MCC_B]	
													,[HomeMNC_B]													AS [Home_MNC_B]
													,[A_MCC]														AS [MCC_A]
													,[A_MNC]														AS [MNC_A]
													,[A_LAC_CId_BCCH]											AS [LAC,CId,BCCH_A]
													,[A_BCCH]													AS [E/U/ARFCN_A]
													,[A_LAC]														AS [LAC_A]
													,[A_CellID]													AS [CellID_A]
													,[A_BSIC]													AS [BSIC_A]
													,[A_SC1]														AS [SC1_A]
													,[A_SC2]														AS [SC2_A]
													,[A_SC3]														AS [SC3_A]
													,[A_SC4]														AS [SC4_A]
													,[A_PCI]														AS [PCI_A]
													,[A_MinRxLev]												AS [MinRxLev_A]
													,[A_AvgRxLev]												AS [AvgRxLev_A]
													,[A_MaxRxLev]												AS [MaxRxLev_A]
													,[A_MinRxQual]												AS [MinRxQual_A]
													,[A_AvgRxQual]												AS [AvgRxQual_A]
													,[A_MaxRxQual]												AS [MaxRxQual_A]
													,[A_MinRSCP]													AS [MinRSCP_A]
													,[A_AvgRSCP]													AS [AvgRSCP_A]
													,[A_MaxRSCP]													AS [MaxRSCP_A]
													,[A_minEcIo]													AS [minEcIo_A]
													,[A_AvgEcIo]													AS [AvgEcIo_A]
													,[A_maxEcIo]													AS [maxEcIo_A]
													,[A_MinTxPwr3G]												AS [MinTxPwr3G_A]
													,[A_AvgTxPwr3G]												AS [AvgTxPwr3G_A]
													,[A_MaxTxPwr3G]												AS [MaxTxPwr3G_A]
													,[A_MinRSRP]													AS [MinRSRP_A]
													,[A_AvgRSRP]													AS [AvgRSRP_A]
													,[A_MaxRSRP]													AS [MaxRSRP_A]
													,[A_MinRSRQ]													AS [MinRSRQ_A]
													,[A_AvgRSRQ]													AS [AvgRSRQ_A]
													,[A_MaxRSRQ]													AS [MaxRSRQ_A]
													,[A_MinSINR0]												AS [MinSINR0_A]
													,[A_AvgSINR0]												AS [SINR0_A]
													,[A_MaxSINR0]												AS [MaxSINR0_A]
													,[A_MinSINR1]												AS [MinSINR1_A]
													,[A_AvgSINR1]												AS [SINR1_A]
													,[A_MaxSINR1]												AS [MaxSINR1_A]
													,[A_MinTxPwr4G]												AS [MinTxPwr4G_A]
													,[A_AvgTxPwr4G]												AS [AvgTxPwr4G_A]
													,[A_MaxTxPwr4G]												AS [MaxTxPwr4G_A]
													,[A_HandoversInfo]											AS [HandoversInfo_A]
													,[A_RRCState]												AS [RRCState_A]
													,[B_MCC]														AS [MCC_B]
													,[B_MNC]														AS [MNC_B]
													,[B_LAC_CId_BCCH]											AS [LAC,CId,BCCH_B]
													,[B_BCCH]													AS [E/U/ARFCN_B]
													,[B_LAC]														AS [LAC_B]
													,[B_CellID]													AS [CellID_B]
													,[B_BSIC]													AS [BSIC_B]
													,[B_SC1]														AS [SC1_B]
													,[B_SC2]														AS [SC2_B]
													,[B_SC3]														AS [SC3_B]
													,[B_SC4]														AS [SC4_B]
													,[B_PCI]														AS [PCI_B]
													,[B_MinRxLev]												AS [MinRxLev_B]
													,[B_AvgRxLev]												AS [AvgRxLev_B]
													,[B_MaxRxLev]												AS [MaxRxLev_B]
													,[B_MinRxQual]												AS [MinRxQual_B]
													,[B_AvgRxQual]												AS [AvgRxQual_B]
													,[B_MaxRxQual]												AS [MaxRxQual_B]
													,[B_MinRSCP]													AS [MinRSCP_B]
													,[B_AvgRSCP]													AS [AvgRSCP_B]
													,[B_MaxRSCP]													AS [MaxRSCP_B]
													,[B_minEcIo]													AS [minEcIo_B]
													,[B_AvgEcIo]													AS [AvgEcIo_B]
													,[B_maxEcIo]													AS [maxEcIo_B]
													,[B_MinTxPwr3G]												AS [MinTxPwr3G_B]
													,[B_AvgTxPwr3G]												AS [AvgTxPwr3G_B]
													,[B_MaxTxPwr3G]												AS [MaxTxPwr3G_B]
													,[B_MinRSRP]													AS [MinRSRP_B]
													,[B_AvgRSRP]													AS [AvgRSRP_B]
													,[B_MaxRSRP]													AS [MaxRSRP_B]
													,[B_MinRSRQ]													AS [MinRSRQ_B]
													,[B_AvgRSRQ]													AS [AvgRSRQ_B]
													,[B_MaxRSRQ]													AS [MaxRSRQ_B]
													,[B_MinSINR0]												AS [MinSINR0_B]
													,[B_AvgSINR0]												AS [SINR0_B]
													,[B_MaxSINR0]												AS [MaxSINR0_B]
													,[B_MinSINR1]												AS [MinSINR1_B]
													,[B_AvgSINR1]												AS [SINR1_B]
													,[B_MaxSINR1]												AS [MaxSINR1_B]
													,[B_MinTxPwr4G]												AS [MinTxPwr4G_B]
													,[B_AvgTxPwr4G]												AS [AvgTxPwr4G_B]
													,[B_MaxTxPwr4G]												AS [MaxTxPwr4G_B]
													,[B_HandoversInfo]											AS [HandoversInfo_B]
													,[B_RRCState]												AS [RRCState_B]
													,[TrainType_A]												AS [TrainType]		
													,[TrainName_A]												AS [Fleet]			
													,[WagonNumber_A]												AS [WagonNumber]	
													,[Region_A]													AS [Region]		
													,[Vendor_A]													AS [Vendor]		
													,[WagonRepeter_A]											AS [WagonRepeter]
													,ASideFileNamePCAP											AS PCAP_File_Name_A
													,BSideFileNamePCAP											AS PCAP_File_Name_B
													,JOIN_ID
												FROM [NEW_CDR_VOICE_2018]
													  WHERE [Operator] like (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 3) and [Validity] = 1 '

DECLARE @operator4view as varchar(max) = '  CREATE VIEW [dbo].[vVoiceCDR2018_Operator4] 
											AS
											SELECT  CASE WHEN Campaign_A is not null THEN Campaign_A
															ELSE Campaign_B
															END AS [Campaign]
													,[Operator]
													,[Session_Type]
													,callDir													AS [Call_Direction]
													,[Call_Status]
													,ASideFileName												AS [File_Name_A]
													,ASideFileName												AS [File_Name_B]
													,[FileID_A]
													,[FileId_B]
													,[Sequenz_ID_per_File_A]
													,[SessionID_A]
													,[SessionId_B]
													,[Channel_A]
													,[Channel_Description_A]
													,[Channel_B]
													,[Channel_Description_B]
													,[G_Level_1_A]												AS [G_Level_1]
													,[G_Level_2_A]												AS [G_Level_2]
													,[G_Level_3_A]												AS [G_Level_3]
													,[G_Level_4_A]												AS [G_Level_4]
													,[G_Level_5_A]												AS [G_Level_5]
													,datepart(year,[MO:Dial])									AS [Year]
													,datepart(iso_week,[MO:Dial])									AS [Week]
													,datepart(month,[MO:Dial])									AS [Month]
													,datepart(day,[MO:Dial])									AS [Day]
													,datepart(hour,[MO:Dial])									AS [Hour]
													,dbo.DelphiDateTime([MO:Dial])								AS [Call_Start_Time]
													,dbo.DelphiDateTime(Call_End_Trigger)						AS [Call_End_Time]
													,startLongitude_A											AS [Call_Start_Longitude_A]
													,startLatitude_A												AS [Call_Start_Latitude_A]
													,endLongitude_A												AS [Call_End_Longitude_A]
													,endLatitude_A												AS [Call_End_Latitude_A]
													,startLongitude_B											AS [Call_Start_Longitude_B]
													,startLatitude_B												AS [Call_Start_Latitude_B]
													,endLongitude_B												AS [Call_End_Longitude_B]
													,endLatitude_B												AS [Call_End_Latitude_B]
													,[Failure_Phase]
													,[Failure_Side]
													,[Failure_Technology]
													,[Failure_Class]
													,[Failure_Category]
													,[Failure_Subcategory]
													,[Comment]													AS [Failure_Comment]
													,VoLTE_to_VoLTE_Call_Mode
													,VoLTE_to_VoLTE_Call_Mode_Call_End
													,Call_Mode_L1_A												AS [L1_callMode_A]
													,Call_Mode_L2_A												AS [L2_callMode_A]
													,Call_Mode_L1_B												AS [L1_callMode_B]
													,Call_Mode_L2_B												AS [L2_callMode_B]
													,[CallSetupTime(MO:Dial->MO:ConnectAck)]						AS [CST(Dial->ConnAck)]
													,[CallSetupTime(MO:Dial->MO:Alerting)]						AS [CST(Dial->Alerting)]
													,[CallSetupTime(MT:Alerting->MT:Connect)]					AS [CST(SQ Delay)]
													,[Dialed_Number]												AS [DialedNumber]
													,dbo.DelphiDateTime([MO:Dial])								AS [Dial_Timestamp]
													,dbo.DelphiDateTime([MO:CSFB-ExtendedServiceRequest])		AS [MO-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MO:CmServiceRequest])					AS [MO-CMServiceRequest]
													,dbo.DelphiDateTime([MO:SipInvite/CC:Setup])					AS [MO-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MO:SipTrying/CC:CallProceeding])		AS [MO-CC:CallProceeding/SIP:Trying]
													,dbo.DelphiDateTime([MO:SipRinging/CC:Alerting])				AS [MO-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MO:Sip200Ok/CC:Connect])				AS [MO-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MO:SipAck/CC:ConnectAck])				AS [MO-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MO-CC:Disconnect/SIPBye])				AS [MO-CC:Disconnect/SIPBye]
													,dbo.DelphiDateTime([MT:CSFB-ExtendedServiceRequest])		AS [MT-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MT:SipInvite/CC:Setup])					AS [MT-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MT:SipTrying/CC:CallProceeding])		AS [MT-CC:CallConfirmed/SIP:Trying]
													,dbo.DelphiDateTime([MT:SipRinging/CC:Alerting])				AS [MT-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MT:Sip200Ok/CC:Connect])				AS [MT-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MT:SipAck/CC:ConnectAck])				AS [MT-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MT-CC:Disconnect/SIPBye])				AS [MT-CC:Disconnect/SIPBye]
													,SipByeCancel_Reason_A										AS [A:Sip:Bye:Reason]
													,SipByeCancel_Reason_B										AS [B:Sip:Bye:Reason]
													,callDuaration_A												AS [Call_Duration]
													,[POLQA_LQ_MIN]
													,[POLQA_LQ_AVG]
													,[POLQA_LQ_MEAN] AS [POLQA_LQ_MEDIAN]
													,[POLQA_LQ_MAX]
													,[RAT_A]
													,[RAT_Timeline_A]
													,[RAT_B]
													,[RAT_Timeline_B]
													,[IMEI_A]
													,[IMSI_A]
													,[MSISDN_A]
													,[IMEI_B]
													,[IMSI_B]
													,[MSISDN_B]
													,[UE_A]
													,[FW_A]
													,[UE_B]
													,[FW_B]
													,System_Name_A												AS [System_A]
													,SW_A														AS [System_Software_A]
													,System_Name_B												AS [System_B]
													,SW_B														AS [System_Software_B]
													,[HomeOperator_A]											AS [Home_Operator_A]
													,[HomeMCC_A]													AS [Home_MCC_A]	
													,[HomeMNC_A]													AS [Home_MNC_A]	
													,[HomeOperator_B]											AS [Home_Operator_B]
													,[HomeMCC_B]													AS [Home_MCC_B]	
													,[HomeMNC_B]													AS [Home_MNC_B]
													,[A_MCC]														AS [MCC_A]
													,[A_MNC]														AS [MNC_A]
													,[A_LAC_CId_BCCH]											AS [LAC,CId,BCCH_A]
													,[A_BCCH]													AS [E/U/ARFCN_A]
													,[A_LAC]														AS [LAC_A]
													,[A_CellID]													AS [CellID_A]
													,[A_BSIC]													AS [BSIC_A]
													,[A_SC1]														AS [SC1_A]
													,[A_SC2]														AS [SC2_A]
													,[A_SC3]														AS [SC3_A]
													,[A_SC4]														AS [SC4_A]
													,[A_PCI]														AS [PCI_A]
													,[A_MinRxLev]												AS [MinRxLev_A]
													,[A_AvgRxLev]												AS [AvgRxLev_A]
													,[A_MaxRxLev]												AS [MaxRxLev_A]
													,[A_MinRxQual]												AS [MinRxQual_A]
													,[A_AvgRxQual]												AS [AvgRxQual_A]
													,[A_MaxRxQual]												AS [MaxRxQual_A]
													,[A_MinRSCP]													AS [MinRSCP_A]
													,[A_AvgRSCP]													AS [AvgRSCP_A]
													,[A_MaxRSCP]													AS [MaxRSCP_A]
													,[A_minEcIo]													AS [minEcIo_A]
													,[A_AvgEcIo]													AS [AvgEcIo_A]
													,[A_maxEcIo]													AS [maxEcIo_A]
													,[A_MinTxPwr3G]												AS [MinTxPwr3G_A]
													,[A_AvgTxPwr3G]												AS [AvgTxPwr3G_A]
													,[A_MaxTxPwr3G]												AS [MaxTxPwr3G_A]
													,[A_MinRSRP]													AS [MinRSRP_A]
													,[A_AvgRSRP]													AS [AvgRSRP_A]
													,[A_MaxRSRP]													AS [MaxRSRP_A]
													,[A_MinRSRQ]													AS [MinRSRQ_A]
													,[A_AvgRSRQ]													AS [AvgRSRQ_A]
													,[A_MaxRSRQ]													AS [MaxRSRQ_A]
													,[A_MinSINR0]												AS [MinSINR0_A]
													,[A_AvgSINR0]												AS [SINR0_A]
													,[A_MaxSINR0]												AS [MaxSINR0_A]
													,[A_MinSINR1]												AS [MinSINR1_A]
													,[A_AvgSINR1]												AS [SINR1_A]
													,[A_MaxSINR1]												AS [MaxSINR1_A]
													,[A_MinTxPwr4G]												AS [MinTxPwr4G_A]
													,[A_AvgTxPwr4G]												AS [AvgTxPwr4G_A]
													,[A_MaxTxPwr4G]												AS [MaxTxPwr4G_A]
													,[A_HandoversInfo]											AS [HandoversInfo_A]
													,[A_RRCState]												AS [RRCState_A]
													,[B_MCC]														AS [MCC_B]
													,[B_MNC]														AS [MNC_B]
													,[B_LAC_CId_BCCH]											AS [LAC,CId,BCCH_B]
													,[B_BCCH]													AS [E/U/ARFCN_B]
													,[B_LAC]														AS [LAC_B]
													,[B_CellID]													AS [CellID_B]
													,[B_BSIC]													AS [BSIC_B]
													,[B_SC1]														AS [SC1_B]
													,[B_SC2]														AS [SC2_B]
													,[B_SC3]														AS [SC3_B]
													,[B_SC4]														AS [SC4_B]
													,[B_PCI]														AS [PCI_B]
													,[B_MinRxLev]												AS [MinRxLev_B]
													,[B_AvgRxLev]												AS [AvgRxLev_B]
													,[B_MaxRxLev]												AS [MaxRxLev_B]
													,[B_MinRxQual]												AS [MinRxQual_B]
													,[B_AvgRxQual]												AS [AvgRxQual_B]
													,[B_MaxRxQual]												AS [MaxRxQual_B]
													,[B_MinRSCP]													AS [MinRSCP_B]
													,[B_AvgRSCP]													AS [AvgRSCP_B]
													,[B_MaxRSCP]													AS [MaxRSCP_B]
													,[B_minEcIo]													AS [minEcIo_B]
													,[B_AvgEcIo]													AS [AvgEcIo_B]
													,[B_maxEcIo]													AS [maxEcIo_B]
													,[B_MinTxPwr3G]												AS [MinTxPwr3G_B]
													,[B_AvgTxPwr3G]												AS [AvgTxPwr3G_B]
													,[B_MaxTxPwr3G]												AS [MaxTxPwr3G_B]
													,[B_MinRSRP]													AS [MinRSRP_B]
													,[B_AvgRSRP]													AS [AvgRSRP_B]
													,[B_MaxRSRP]													AS [MaxRSRP_B]
													,[B_MinRSRQ]													AS [MinRSRQ_B]
													,[B_AvgRSRQ]													AS [AvgRSRQ_B]
													,[B_MaxRSRQ]													AS [MaxRSRQ_B]
													,[B_MinSINR0]												AS [MinSINR0_B]
													,[B_AvgSINR0]												AS [SINR0_B]
													,[B_MaxSINR0]												AS [MaxSINR0_B]
													,[B_MinSINR1]												AS [MinSINR1_B]
													,[B_AvgSINR1]												AS [SINR1_B]
													,[B_MaxSINR1]												AS [MaxSINR1_B]
													,[B_MinTxPwr4G]												AS [MinTxPwr4G_B]
													,[B_AvgTxPwr4G]												AS [AvgTxPwr4G_B]
													,[B_MaxTxPwr4G]												AS [MaxTxPwr4G_B]
													,[B_HandoversInfo]											AS [HandoversInfo_B]
													,[B_RRCState]												AS [RRCState_B]
													,[TrainType_A]												AS [TrainType]		
													,[TrainName_A]												AS [Fleet]			
													,[WagonNumber_A]												AS [WagonNumber]	
													,[Region_A]													AS [Region]		
													,[Vendor_A]													AS [Vendor]		
													,[WagonRepeter_A]											AS [WagonRepeter]
													,ASideFileNamePCAP											AS PCAP_File_Name_A
													,BSideFileNamePCAP											AS PCAP_File_Name_B
													,JOIN_ID
												FROM [NEW_CDR_VOICE_2018]
													  WHERE [Operator] like (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 4) and [Validity] = 1 '

DECLARE @operator5view as varchar(max) = '  CREATE VIEW [dbo].[vVoiceCDR2018_Operator5] 
											AS
											SELECT  CASE WHEN Campaign_A is not null THEN Campaign_A
															ELSE Campaign_B
															END AS [Campaign]
													,[Operator]
													,[Session_Type]
													,callDir													AS [Call_Direction]
													,[Call_Status]
													,ASideFileName												AS [File_Name_A]
													,ASideFileName												AS [File_Name_B]
													,[FileID_A]
													,[FileId_B]
													,[Sequenz_ID_per_File_A]
													,[SessionID_A]
													,[SessionId_B]
													,[Channel_A]
													,[Channel_Description_A]
													,[Channel_B]
													,[Channel_Description_B]
													,[G_Level_1_A]												AS [G_Level_1]
													,[G_Level_2_A]												AS [G_Level_2]
													,[G_Level_3_A]												AS [G_Level_3]
													,[G_Level_4_A]												AS [G_Level_4]
													,[G_Level_5_A]												AS [G_Level_5]
													,datepart(year,[MO:Dial])									AS [Year]
													,datepart(iso_week,[MO:Dial])									AS [Week]
													,datepart(month,[MO:Dial])									AS [Month]
													,datepart(day,[MO:Dial])									AS [Day]
													,datepart(hour,[MO:Dial])									AS [Hour]
													,dbo.DelphiDateTime([MO:Dial])								AS [Call_Start_Time]
													,dbo.DelphiDateTime(Call_End_Trigger)						AS [Call_End_Time]
													,startLongitude_A											AS [Call_Start_Longitude_A]
													,startLatitude_A												AS [Call_Start_Latitude_A]
													,endLongitude_A												AS [Call_End_Longitude_A]
													,endLatitude_A												AS [Call_End_Latitude_A]
													,startLongitude_B											AS [Call_Start_Longitude_B]
													,startLatitude_B												AS [Call_Start_Latitude_B]
													,endLongitude_B												AS [Call_End_Longitude_B]
													,endLatitude_B												AS [Call_End_Latitude_B]
													,[Failure_Phase]
													,[Failure_Side]
													,[Failure_Technology]
													,[Failure_Class]
													,[Failure_Category]
													,[Failure_Subcategory]
													,[Comment]													AS [Failure_Comment]
													,VoLTE_to_VoLTE_Call_Mode
													,VoLTE_to_VoLTE_Call_Mode_Call_End
													,Call_Mode_L1_A												AS [L1_callMode_A]
													,Call_Mode_L2_A												AS [L2_callMode_A]
													,Call_Mode_L1_B												AS [L1_callMode_B]
													,Call_Mode_L2_B												AS [L2_callMode_B]
													,[CallSetupTime(MO:Dial->MO:ConnectAck)]						AS [CST(Dial->ConnAck)]
													,[CallSetupTime(MO:Dial->MO:Alerting)]						AS [CST(Dial->Alerting)]
													,[CallSetupTime(MT:Alerting->MT:Connect)]					AS [CST(SQ Delay)]
													,[Dialed_Number]												AS [DialedNumber]
													,dbo.DelphiDateTime([MO:Dial])								AS [Dial_Timestamp]
													,dbo.DelphiDateTime([MO:CSFB-ExtendedServiceRequest])		AS [MO-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MO:CmServiceRequest])					AS [MO-CMServiceRequest]
													,dbo.DelphiDateTime([MO:SipInvite/CC:Setup])					AS [MO-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MO:SipTrying/CC:CallProceeding])		AS [MO-CC:CallProceeding/SIP:Trying]
													,dbo.DelphiDateTime([MO:SipRinging/CC:Alerting])				AS [MO-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MO:Sip200Ok/CC:Connect])				AS [MO-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MO:SipAck/CC:ConnectAck])				AS [MO-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MO-CC:Disconnect/SIPBye])				AS [MO-CC:Disconnect/SIPBye]
													,dbo.DelphiDateTime([MT:CSFB-ExtendedServiceRequest])		AS [MT-ExtendedServiceRequest-CSFB]
													,dbo.DelphiDateTime([MT:SipInvite/CC:Setup])					AS [MT-CC:Setup/SIP:Invite]
													,dbo.DelphiDateTime([MT:SipTrying/CC:CallProceeding])		AS [MT-CC:CallConfirmed/SIP:Trying]
													,dbo.DelphiDateTime([MT:SipRinging/CC:Alerting])				AS [MT-CC:Alerting/SIP:Ringing]
													,dbo.DelphiDateTime([MT:Sip200Ok/CC:Connect])				AS [MT-CC:Connect/SIP:200Ok]
													,dbo.DelphiDateTime([MT:SipAck/CC:ConnectAck])				AS [MT-CC:ConnectAck/SIP:Ack]
													,dbo.DelphiDateTime([MT-CC:Disconnect/SIPBye])				AS [MT-CC:Disconnect/SIPBye]
													,SipByeCancel_Reason_A										AS [A:Sip:Bye:Reason]
													,SipByeCancel_Reason_B										AS [B:Sip:Bye:Reason]
													,callDuaration_A												AS [Call_Duration]
													,[POLQA_LQ_MIN]
													,[POLQA_LQ_AVG]
													,[POLQA_LQ_MEAN] AS [POLQA_LQ_MEDIAN]
													,[POLQA_LQ_MAX]
													,[RAT_A]
													,[RAT_Timeline_A]
													,[RAT_B]
													,[RAT_Timeline_B]
													,[IMEI_A]
													,[IMSI_A]
													,[MSISDN_A]
													,[IMEI_B]
													,[IMSI_B]
													,[MSISDN_B]
													,[UE_A]
													,[FW_A]
													,[UE_B]
													,[FW_B]
													,System_Name_A												AS [System_A]
													,SW_A														AS [System_Software_A]
													,System_Name_B												AS [System_B]
													,SW_B														AS [System_Software_B]
													,[HomeOperator_A]											AS [Home_Operator_A]
													,[HomeMCC_A]													AS [Home_MCC_A]	
													,[HomeMNC_A]													AS [Home_MNC_A]	
													,[HomeOperator_B]											AS [Home_Operator_B]
													,[HomeMCC_B]													AS [Home_MCC_B]	
													,[HomeMNC_B]													AS [Home_MNC_B]
													,[A_MCC]														AS [MCC_A]
													,[A_MNC]														AS [MNC_A]
													,[A_LAC_CId_BCCH]											AS [LAC,CId,BCCH_A]
													,[A_BCCH]													AS [E/U/ARFCN_A]
													,[A_LAC]														AS [LAC_A]
													,[A_CellID]													AS [CellID_A]
													,[A_BSIC]													AS [BSIC_A]
													,[A_SC1]														AS [SC1_A]
													,[A_SC2]														AS [SC2_A]
													,[A_SC3]														AS [SC3_A]
													,[A_SC4]														AS [SC4_A]
													,[A_PCI]														AS [PCI_A]
													,[A_MinRxLev]												AS [MinRxLev_A]
													,[A_AvgRxLev]												AS [AvgRxLev_A]
													,[A_MaxRxLev]												AS [MaxRxLev_A]
													,[A_MinRxQual]												AS [MinRxQual_A]
													,[A_AvgRxQual]												AS [AvgRxQual_A]
													,[A_MaxRxQual]												AS [MaxRxQual_A]
													,[A_MinRSCP]													AS [MinRSCP_A]
													,[A_AvgRSCP]													AS [AvgRSCP_A]
													,[A_MaxRSCP]													AS [MaxRSCP_A]
													,[A_minEcIo]													AS [minEcIo_A]
													,[A_AvgEcIo]													AS [AvgEcIo_A]
													,[A_maxEcIo]													AS [maxEcIo_A]
													,[A_MinTxPwr3G]												AS [MinTxPwr3G_A]
													,[A_AvgTxPwr3G]												AS [AvgTxPwr3G_A]
													,[A_MaxTxPwr3G]												AS [MaxTxPwr3G_A]
													,[A_MinRSRP]													AS [MinRSRP_A]
													,[A_AvgRSRP]													AS [AvgRSRP_A]
													,[A_MaxRSRP]													AS [MaxRSRP_A]
													,[A_MinRSRQ]													AS [MinRSRQ_A]
													,[A_AvgRSRQ]													AS [AvgRSRQ_A]
													,[A_MaxRSRQ]													AS [MaxRSRQ_A]
													,[A_MinSINR0]												AS [MinSINR0_A]
													,[A_AvgSINR0]												AS [SINR0_A]
													,[A_MaxSINR0]												AS [MaxSINR0_A]
													,[A_MinSINR1]												AS [MinSINR1_A]
													,[A_AvgSINR1]												AS [SINR1_A]
													,[A_MaxSINR1]												AS [MaxSINR1_A]
													,[A_MinTxPwr4G]												AS [MinTxPwr4G_A]
													,[A_AvgTxPwr4G]												AS [AvgTxPwr4G_A]
													,[A_MaxTxPwr4G]												AS [MaxTxPwr4G_A]
													,[A_HandoversInfo]											AS [HandoversInfo_A]
													,[A_RRCState]												AS [RRCState_A]
													,[B_MCC]														AS [MCC_B]
													,[B_MNC]														AS [MNC_B]
													,[B_LAC_CId_BCCH]											AS [LAC,CId,BCCH_B]
													,[B_BCCH]													AS [E/U/ARFCN_B]
													,[B_LAC]														AS [LAC_B]
													,[B_CellID]													AS [CellID_B]
													,[B_BSIC]													AS [BSIC_B]
													,[B_SC1]														AS [SC1_B]
													,[B_SC2]														AS [SC2_B]
													,[B_SC3]														AS [SC3_B]
													,[B_SC4]														AS [SC4_B]
													,[B_PCI]														AS [PCI_B]
													,[B_MinRxLev]												AS [MinRxLev_B]
													,[B_AvgRxLev]												AS [AvgRxLev_B]
													,[B_MaxRxLev]												AS [MaxRxLev_B]
													,[B_MinRxQual]												AS [MinRxQual_B]
													,[B_AvgRxQual]												AS [AvgRxQual_B]
													,[B_MaxRxQual]												AS [MaxRxQual_B]
													,[B_MinRSCP]													AS [MinRSCP_B]
													,[B_AvgRSCP]													AS [AvgRSCP_B]
													,[B_MaxRSCP]													AS [MaxRSCP_B]
													,[B_minEcIo]													AS [minEcIo_B]
													,[B_AvgEcIo]													AS [AvgEcIo_B]
													,[B_maxEcIo]													AS [maxEcIo_B]
													,[B_MinTxPwr3G]												AS [MinTxPwr3G_B]
													,[B_AvgTxPwr3G]												AS [AvgTxPwr3G_B]
													,[B_MaxTxPwr3G]												AS [MaxTxPwr3G_B]
													,[B_MinRSRP]													AS [MinRSRP_B]
													,[B_AvgRSRP]													AS [AvgRSRP_B]
													,[B_MaxRSRP]													AS [MaxRSRP_B]
													,[B_MinRSRQ]													AS [MinRSRQ_B]
													,[B_AvgRSRQ]													AS [AvgRSRQ_B]
													,[B_MaxRSRQ]													AS [MaxRSRQ_B]
													,[B_MinSINR0]												AS [MinSINR0_B]
													,[B_AvgSINR0]												AS [SINR0_B]
													,[B_MaxSINR0]												AS [MaxSINR0_B]
													,[B_MinSINR1]												AS [MinSINR1_B]
													,[B_AvgSINR1]												AS [SINR1_B]
													,[B_MaxSINR1]												AS [MaxSINR1_B]
													,[B_MinTxPwr4G]												AS [MinTxPwr4G_B]
													,[B_AvgTxPwr4G]												AS [AvgTxPwr4G_B]
													,[B_MaxTxPwr4G]												AS [MaxTxPwr4G_B]
													,[B_HandoversInfo]											AS [HandoversInfo_B]
													,[B_RRCState]												AS [RRCState_B]
													,[TrainType_A]												AS [TrainType]		
													,[TrainName_A]												AS [Fleet]			
													,[WagonNumber_A]												AS [WagonNumber]	
													,[Region_A]													AS [Region]		
													,[Vendor_A]													AS [Vendor]		
													,[WagonRepeter_A]											AS [WagonRepeter]
													,ASideFileNamePCAP											AS PCAP_File_Name_A
													,BSideFileNamePCAP											AS PCAP_File_Name_B
													,JOIN_ID
												FROM [NEW_CDR_VOICE_2018]
													  WHERE [Operator] like (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 5) and [Validity] = 1 '

-- DROP OLD VIEWS IF THEY EXISTS
	IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'vVoiceCDR2018_Operator1') DROP view vVoiceCDR2018_Operator1
	IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'vVoiceCDR2018_Operator2') DROP view vVoiceCDR2018_Operator2
	IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'vVoiceCDR2018_Operator3') DROP view vVoiceCDR2018_Operator3
	IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'vVoiceCDR2018_Operator4') DROP view vVoiceCDR2018_Operator4
	IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'vVoiceCDR2018_Operator5') DROP view vVoiceCDR2018_Operator5

-- EXECUTE VIEWS FOR ALL THE OPERATORS
	IF (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 1) is not null EXEC(@operator1view)
	IF (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 2) is not null EXEC(@operator2view)
	IF (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 3) is not null EXEC(@operator3view)
	IF (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 4) is not null EXEC(@operator4view)
	IF (SELECT Operator FROM NEW_OPERATORS_PRIORITY_2018 WHERE SequenceNumber = 5) is not null EXEC(@operator5view)

-- select * from vVoiceCDR2018_Operator1
-- select * from vVoiceCDR2018_Operator2
-- select * from vVoiceCDR2018_Operator3
-- select * from vVoiceCDR2018_Operator4
-- select * from vVoiceCDR2018_Operator5